<?xml version="1.0" encoding="iso-8859-1" standalone="yes" ?>

<installation version="1.0">

	<!-- @param@ are replace by release specific info by gradle at build time -->

    <info>
        <appname>Javascore</appname>
        <appversion>@version@ (@releasedate@)</appversion>  
        <javaversion>1.7</javaversion>
        <authors>
            <author name="Sandy Grosvenor" email="sandy@gromurph.org"/>
        </authors>
        <url>http://www.gromurph.org/javascore</url>
        
    </info>
    
    <guiprefs width="600" height="360" resizable="yes"/>
    
     
    <locale>
        <langpack iso3="eng"/>
    </locale>  
    
    
    <resources>
        <res id="LicencePanel.licence" 	src="javascore.license.txt"/>
        <res id="Installer.image" 		src="InstallGraphic.jpg" />
        <res id="TargetPanel.dir"		src="targetDir.win.txt" />
       	<res id="shortcutSpec.xml"		src="windows_shortcut_spec.xml" />
		<res id="Unix_shortcutSpec.xml"	src="unix_shortcut_specification.xml" />
    </resources>
    

    <panels>
        <panel classname="HelloPanel" />
        <panel classname="LicencePanel" />
        <panel classname="TargetPanel" /> 
        <panel classname="ShortcutPanel" />
        <panel classname="InstallPanel" />
        <panel classname="SimpleFinishPanel" />
    </panels>
    

    <packs>
        <pack name="Base" required="yes">
            <description>The main javascore application</description>
            <file src="JavaScore.jar" targetdir="@assemble.dir@"/>
            <fileset dir="" targetdir="@assemble.dir@">
	            <include name="*.txt" />
	            <include name="JavaScore.jar" />
	            <include name="javascore_properties.jar" />
	            <include name="*.jar" />
	            	<exclude name="*-install-*.jar" />
	            	<exclude name="*-src-*.jar" />
	            <include name="template*.html" />
	            <include name="club-logo.jpg" />
	            <include name="js32.ico" />
	            <include name="SplashGraphic.jpg" />
	            <include name="*.regatta" />
	            <include name="sailingXRR*.*" />
	            <include name="run*.bat" />
            </fileset>
        </pack>
    </packs>
    
    <native type="izpack" name="ShellLink.dll"/>
    
</installation>

