<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
     </Appenders>
    <Loggers>
    	<Logger name="org.gromurph" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="ERROR" >
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
